.teaseContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  position: relative;
  padding: 2rem;
  gap: 2rem;
}

.teaseContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  z-index: 0;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.clientImage {
  object-fit: contain;
  width: 100vw;
  /* max-width: 500px; */
  height: auto;
  border-radius: 10px;
  z-index: 1;
  filter: contrast(80%);
}
.clientImage:hover {
  filter: contrast(100%);
}

.contentContainer {
  max-width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  color: white;
  font-size: 16px;
  padding-right: 0rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watchButton {
  padding: 0.75rem 1.5rem;
  background-color: #ec407a;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.watchButton:hover {
  background: linear-gradient(135deg, #ec407a, #ffc093);
}
@media (max-width: 1028px) {
  .teaseContainer {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .teaseContainer::before {
    background-image: none;
    background-color: #e0e0e0;
    position: relative;
  }

  .teaseContainer {
    flex-direction: column;
    height: auto;
    padding-top: 0rem;
  }
  .imageContainer {
    position: relative;
    width: 100%;
    padding: 0rem;
  }
  .clientImage {
    width: 100vw;
    max-width: none;
    filter: contrast(80%);
    border-radius: 0px;
  }
  .clientImage:hover {
    filter: contrast(50%);
  }

  .contentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
  }
}
@media (max-width: 480px) {
  .imageContainer {
    width: 100%;
    position: relative;
  }

  .clientImage {
    width: 100%;
    width: 100vw;
    /* max-width: none; */
    filter: contrast(20%);
  }
  .contentContainer {
    flex-direction: column;
    padding: 1rem;
    height: auto;
    background-color: transparent;
  }

  .title {
    padding: 0.5rem;
    white-space: nowrap;
    background-color: rgb(12 11 11 / 50%);
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .description {
    display: none;
    font-size: 14px;
    padding-right: 1rem;
  }

  .watchButton {
    padding: 0.5rem 1rem;
    font-size: 14px;
    margin-top: 0rem;
  }
  .watchButton:hover {
    background: linear-gradient(135deg, #ec407a, #ffc093);
  }
}
