.teaseContainer {
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  position: relative;
  padding: 2rem;
  gap: 2rem;
}

.contentContainer {
  max-width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.teaseContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));

  z-index: 0;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.clientImage {
  object-fit: contain;
  width: 100vw;
  height: auto;
  border-radius: 10px;
  z-index: 1;
  filter: contrast(80%);
}
.clientImage:hover {
  filter: contrast(100%);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  color: white;
  font-size: 16px;
  padding-right: 0rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watchButton {
  padding: 0.75rem 1.5rem;
  background-color: #ec407a;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.watchButton:hover {
  background: linear-gradient(135deg, #ec407a, #ffc093);
}
@media (max-width: 1024px) {
  .teaseContainer {
    gap: 0;
    height: 250px;
    padding: 1rem;
  }
  .description {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 540px) {
  .teaseContainer {
    height: 200px;
    width: 100%;
  }
  .contentContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
    height: 200px;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgba(0, 0, 0, 0.4); /* black film with transparency */
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .clientImage {
    filter: contrast(28%);
    border-radius: 0px;
  }

  .description {
    display: none;
  }
  .watchButton {
    padding: 0rem 1rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    white-space: nowrap;
  }
}
