.section {
  background-color: rgb(255, 224, 189); /* beige */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 20px 20px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: hotpink;
}

.subtitle {
  font-size: 1.1rem;
  color: #666;
  color: hsl(330, 83%, 41%);
}
