.footer {
  background-color: #222;
  color: #eee;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  /* max-width: var(--max-width); */
  gap: 2rem;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin: 0 auto;
  font-family: Arial, sans-serif;
  gap: 2rem;
}

.section {
  flex: 1 1 300px;
  margin: 1rem;
  min-width: 250px;
  padding: 2rem;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #555;
  padding-bottom: 0.5rem;
}

.text {
  margin: 0.3rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.link {
  color: #1da1f2;
  text-decoration: none;
  margin: 0 0.25rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
}

.link:hover,
.link:focus {
  color: #0d8ddb;
  text-decoration: underline;
  outline: none;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 1rem;
  }

  .footerContent {
    gap: 1rem;
  }

  .section {
    flex: 1 1 200px;
    margin: 0.5rem;
  }
}

@media (max-width: 540px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 0;
    gap: 0; */
  }

  /* .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  .section {
    flex: 1 1 100%;
    width: 100%;
    max-width: 400px;
    padding: 0rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .heading {
    font-size: 1.25rem;
  }
}
