.navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.right {
  display: flex;
  align-items: center;
}

.right.hidden {
  display: none;
}

.navList {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  max-width: var(--max-width);
  flex-wrap: wrap;
  margin-left: 25rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.navItem a:hover {
  color: #ffd700;
}
.logoWrapper {
  position: relative;
  width: 80px;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}
.logoImage {
  border-radius: 50%;
  padding: 1rem;
}
@media (max-width: 768px) {
  .navList {
    gap: 1rem;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 0 auto;
  }

  .navItem a {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .navList {
    gap: 0.5rem;
    justify-content: center;
    margin: 0 auto;
  }

  .navItem a {
    padding: 0.4rem;
    font-size: 0.85rem;
  }
  .logoImage {
    padding: 20px;
    margin-right: -29px;
  }
  .logoWrapper {
    margin-top: 5px;
  }

  .right {
    list-style: none;
    border-top: 2px solid rgba(255, 255, 255, 0.4); /* lighter white line */

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; /* centers the list horizontally */
    width: 100%; /* take full width */
  }
  .right a {
    gap: 0rem;
  }
}
