.container {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  align-items: stretch;
}

.intro {
  width: 70%;
  padding: 5rem 2rem 5rem 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.introduction {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 1.5rem 1rem;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}
.introduction p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
  text-overflow: ellipsis;
}

.introduction.expanded p {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.readMoreBtn {
  display: block;
  background: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  text-align: left; /* text stays left */
}

.readMoreBtn:hover {
  opacity: 0.8;
}

.podcast {
  padding-bottom: 1.5rem;
}

.clientImage {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0rem 2rem 2rem;
}

.clientImage img {
  /* max-width: 100%;
  max-height: 100%;
  height: auto; */
  object-fit: contain;
}
.title {
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #333;
  font-weight: bold;
  background-color: #ec407a;
  padding: 0.5rem;
}

.subtitle {
  color: black;
  font-family:
    "Dancing Script", "Pacifico", "Segoe Script", "Lucida Handwriting", cursive;
  font-size: 28px;
  color: black;
  margin-top: 5px;
  padding: 0rem;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .clientImage {
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  .intro {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
  }
  .podcast {
    padding-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .clientImage {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
  }
  .introduction {
    padding: 0rem;
  }
}
