.container {
  width: 100vw;
  height: auto;
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 85vh;
}
.flower {
  width: 95vh;
  max-width: 1024px;
  height: auto;
  display: none;
  margin: 0 auto;
  object-fit: contain;
}
.desktopFlower {
  width: 100vw;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.bio,
.achievements {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: auto;
    position: relative;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: auto;
  }

  .desktopFlower {
    max-width: 1024px;
    height: auto;
    display: none;
    margin: 0 auto;
    object-fit: contain;
  }

  .flower {
    width: 100%;
    max-width: none;
    height: auto;
    object-fit: contain;
    display: block;
  }
}
/* @media (max-width: 425px) {
  .flower {
    object-fit: fill;
  }
} */
/* 
@media (max-width: 320px) {
  .container {
    width: 100vw;
    height: 67vh;
    position: relative;
  }

  .overlay {
    position: relative;
    width: 100%;
    height: 67vh;
  }
  .flower {
    width: 100%;
    height: 67vh;
    object-fit: contain;
  }
} */
/* @media (max-width: 425px) {
  .flower {
    width: 100%;
    height: 85vh;
  }
}
@media (max-width: 375px) {
  .flower {
    width: 100%;
    height: 76vh;
  }
}

@media (max-width: 320px) {
  .flower {
    width: 100%;
    height: 68vh;
  }
} */
