.top {
  color: rgb(255, 255, 255);
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    hsl(31, 10%, 75%) 0%,
    hsl(31, 10%, 60%) 50%,
    hsl(31, 10%, 45%) 100%
  );
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
  width: 65%;

  margin: 0 auto;
}

.right {
  display: flex;
  width: 35%;

  padding: 0;
}

.clientImageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.clientImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.left {
  flex: 1;
  padding-right: 20px;
}

.headerCarousel {
  margin-top: auto;
  margin-bottom: 10px;
}
.headerCarousel h2 {
  margin-left: 4rem;
}

.introduction {
  margin-top: 1.5rem;
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}

.introduction p {
  margin: 0;
}
.introduction p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}

.introduction.expanded p {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.readMoreBtn {
  display: block;
  background: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.readMoreBtn:hover {
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .clientImageWrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .top {
    flex-direction: row;
    height: 100%;
    position: relative;
  }
  .textBlock {
    width: 65%;
    padding: 1.5rem 1rem;
  }
  .right {
    width: 35%;
    padding: 0;
  }
  .clientImageWrapper {
    width: 100%;
    height: auto;
  }
  .clientImage {
    object-fit: contain;
  }
  .introduction {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .top {
    flex-direction: column;
  }
  .right {
    order: -1;
    width: 100%;
  }
  .textBlock {
    width: 100%;
    padding: 1rem;
  }
  .introduction {
    padding: 0rem;
    margin-top: 0px;
  }
  .clientImageWrapper {
    width: 100%;
    position: relative;

    height: 50vw;

    position: relative;
  }
}
