.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background: var(--gradient-bg);
}
.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  color: var(--primary-text);
  background: var(--gradient-bg);
}

.left {
  flex: 1;
  padding-right: 20px;
}

.right {
  display: flex;
  width: 35%;
  padding: 0;
}
.clientImageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.clientImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.headerCarousel {
  margin-top: auto;
  padding-bottom: 3rem;
}
.headerCarousel h2 {
  margin-left: 0;
}
.bioText {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.bioText.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.introduction {
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  margin-top: 1.5rem;
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-align: left;
}

.introduction p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.introduction.expanded p {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.readMoreBtn {
  display: block;
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--primary-text);
  text-align: left;
}

.readMoreBtn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .top {
    flex-direction: row;
    height: 100%;
    position: relative;
  }
  .textBlock {
    width: 65%;
    padding: 0 1rem 1.5rem 1rem;
  }
  .headerCarousel {
    margin-top: auto;
    padding-bottom: 0;
  }

  .introduction {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .top {
    flex-direction: column;
  }
  .right {
    order: -1;
    width: 100%;
    margin-top: 1.6rem;
  }
  .textBlock {
    width: 100%;
    padding: 1rem;
  }
  .introduction {
    margin-top: 0;
  }
  .clientImageWrapper {
    position: relative;
  }
}
