
:global(body) {
  background-color: #D3D3D3; /* light grey */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  padding:3rem;
  margin-left: 9rem;;
  margin-right: 9rem;
  background-color:#D3D3D3; 

}

.leftSection {
  flex: 2; 
  background: #1f1f1f;
  padding: 5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #fff;
  border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
}

.rightSection {
  flex: 2; /* smaller space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fcd5ce;
  padding: 2rem;
  text-align: center;
  border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
}

.formGroup {
  margin-bottom: 1.2rem;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  color: #ddd;
  font-size: 0.95rem;
}

.input {
  width: 100%;
  padding: 0rem;
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-bottom-color: #3b82f6; /* blue on focus */
}

.error {
  color: #f87171; /* red */
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.button {
  width: 100%;
  padding: 0.8rem;
  background: #ec407a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background:  #fcd5ce; 
  color:#666
}
