.container {
  width: 100%;
  height: 90vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}
.splitContainer {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.leftSection {
  flex: 7;
  background: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.rightSection {
  flex: 3;
  background: linear-gradient(135deg, #ff0080 0%, #ff8cdd 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.underline-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #666; /* dark gray line */
  padding: 8px 4px;
  color: white;
  font-size: 16px;
  outline: none;
}

.underline-input::placeholder {
  color: #aaa; /* light placeholder text */
}

.underline-input:focus {
  border-bottom: 1px solid #ff69b4; /* pink underline on focus */
}

@media (max-width: 768px) {
  .splitContainer {
    flex-direction: column;
    height: auto;
  }
  .leftSection,
  .rightSection {
    min-height: 200px;
    padding: 1rem;
  }
}
