.containerWrapper {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  padding-left: 15rem;
  padding-right: 15rem;

  width: 100%;
}

.leftSection {
  flex: 1;
  background: #1f1f1f;
  padding: 5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 8;
  background: #181818;
  color: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ec407a, #ffe0b2);

  padding: 2rem;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.rightSection h2 {
  padding: 50px;
}

.formGroup {
  margin-bottom: 1.2rem;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  color: #ddd;
  font-size: 0.95rem;
}

.input {
  width: 100%;
  padding: 0rem;
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-image: linear-gradient(90deg, #ec407a, #3b82f6) 1;
  outline: none;
}

.error {
  color: #f87171;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.button {
  width: 40%;
  padding: 0.8rem;
  background: #ec407a;
  color: white;
  border: none;

  border-radius: 6px;
  font-size: 1rem;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(135deg, #ec407a, #ffc093);

  color: #666;
}
.button:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}

.podcastWrapper {
  position: relative;
  width: 100px;
  height: 50px;
  margin-bottom: 2.5rem;
}
.podcastImage {
  border-radius: 50%;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 1;
  animation: fadeInOut 3s ease-in-out forwards;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Success alert */
.alertSuccess {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Error alert */
.alertError {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

@media (max-width: 1440px) {
  .containerWrapper {
    position: relative;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .container {
    width: 100%;
    height: 80vh;
    padding-top: 0px;
    padding-bottom: 5rem;
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .leftSection,
  .rightSection {
    height: 100%;
    width: 100%;
    min-height: 150px;
    padding: 2.5rem;
  }
  .leftSection {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 8rem;
  }
  .rightSection {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: auto;
  }
  .rightSection h2 {
    padding: 8rem;
  }

  .input {
    font-size: 1.8rem;
  }

  .formGroup {
    margin-bottom: 5rem;
  }
  .form {
    padding-bottom: 40px;
  }

  .button {
    width: 50%;
    padding: 0.8rem;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .containerWrapper {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .leftSection,
  .rightSection {
    padding: 2rem;
  }
  .input {
    font-size: 1.4rem;
  }
  .label {
    font-size: 1.3rem;
  }
  .formGroup {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 768px) {
  .containerWrapper {
    position: relative;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 0px;
  }
  .container {
    width: 100%;
    height: auto;
  }

  .leftSection,
  .rightSection {
    height: 100%;
    width: 100%;
    min-height: 150px;
    padding: 2rem;
  }
  .leftSection {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 3rem;
  }
  .rightSection {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: auto;
  }
  .rightSection h2 {
    padding: 30px;
  }
  .form {
    padding-bottom: 10px;
  }
  .formGroup {
    margin-bottom: 1.5rem;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 1rem;
  }
  .input {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .containerWrapper {
    position: relative;
    margin-top: 0rem;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .container {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: auto;
    padding-bottom: 1rem;
  }

  .leftSection,
  .rightSection {
    width: 100%;
    min-height: auto;
    padding: 1.5rem;
    border-radius: 0;
  }
  .leftSection {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .rightSection {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .rightSection h2 {
    padding: 15px;
  }

  .input {
    font-size: 0.9rem;
  }

  .button {
    width: 35%;
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .formGroup {
    margin-bottom: 0.8rem;
  }

  .rightSection .title {
    font-size: 1rem;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 0.9rem;
  }
}
