.containerWrapper {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 2rem 12rem 2rem 12rem;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2rem 10rem;
}

.leftSection {
  flex: 7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  color: #fff;
  border-radius: 12px 0px 0px 12px;
  padding: 5rem 3rem 3rem 4rem;
}

.rightSection {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ee4d84, #ffe0b2);

  height: auto;
  padding: 2rem;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.rightSection h2 {
  padding: 2rem 3rem 2rem 3rem;
  color: rgb(48, 48, 48);
}
.podcastWrapper {
  position: relative;
  height: auto;
  width: 55%;
}
.podcastImage {
  border-radius: 50%;
}

.formGroup {
  margin-bottom: 2rem;
}

.label {
  display: block;
  margin-bottom: 0.1rem;
  color: #ddd;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 0rem;
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  color: #fff;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-image: linear-gradient(to right, #ec407a, #ffe0b2) 1;
  border-image-slice: 1;
}

.error {
  color: #f87171;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.button {
  width: 30%;
  padding: 0.8rem;
  background: #ec407a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(135deg, #ec407a, #ffc093);

  color: #666;
}
@media (prefers-color-scheme: dark) {
  .rightSection h2 {
    color: rgb(48, 48, 48);
  }
}
@media (min-width: 1920px) {
  .container {
    min-height: 65vh;
    width: 85vw;
  }
  .formGroup {
    margin-bottom: 6.5rem;
  }
  .label {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
  .form {
    margin: 8rem 0rem 0rem 2.5rem;
  }
  .button {
    padding: 2rem;
    font-size: 2.5rem;
    border-radius: 15px;
    width: 45%;
    font-size: 3rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
  }
  .rightSection {
    padding: 8rem;
  }
  .rightSection h2 {
    font-size: 6rem;
  }
  .podcastWrapper {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .containerWrapper {
    min-height: 85vh;
    width: 100vw;
    padding: 0rem;
  }

  .container {
    min-height: 75vh;
    width: 100%;
    padding: 2rem 15rem;
    height: auto;
  }
  .podcastWrapper {
    width: 55%;
  }
  .rightSection {
    border-radius: 0px 12px 12px 0px;
    padding: 1.5rem;
  }
  .rightSection h2 {
    padding: 0.5rem 0rem 0rem 0rem;
    font-size: 2rem;
  }
  .leftSection {
    padding: 4.5rem 1rem 3rem 3.5rem;
    border-radius: 12px 0px 0px 12px;
  }
  .label {
    font-size: 1rem;
  }
  .formGroup {
    margin-bottom: 1.6rem;
  }
  .button {
    font-size: 1rem;
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 2rem 10rem;
  }
  .label {
    font-size: 1rem;
  }
  .leftSection {
    padding: 4rem 1rem 3rem 3rem;
  }

  .rightSection h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 3rem;
  }

  .rightSection h2 {
    font-size: 2rem;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 1rem 1.5rem;
    flex-direction: column-reverse;
  }
  .podcastWrapper {
    width: 40%;
  }
  .rightSection {
    padding: 0.9rem;
    border-radius: 12px 12px 0rem 0rem;
  }
  .rightSection h2 {
    padding: 0rem;
    font-size: 1.3rem;
  }
  .leftSection {
    padding: 3rem 1rem 2rem 2rem;
    border-radius: 0rem 0rem 12px 12px;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 0.8rem;
  }
  .formGroup {
    margin-bottom: 1.4rem;
  }
  .input {
    font-size: 0.8rem;
  }
  .button {
    padding: 0rem;
    font-size: 0.9rem;
    width: 40%;
  }
}
@media (max-width: 344px) {
  .container {
    padding: 0.8rem 0.8rem;
  }
  .leftSection {
    padding: 3rem 1rem 2rem 1.5rem;
  }
}
