.containerWrapper {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container {
  display: flex;
  padding-left: 15rem;
  padding-right: 15rem;
}
.leftSection,
.rightSection {
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 10rem;
}

.leftSection {
  flex: 1;
  background: #1f1f1f;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 8;
  background: #181818;
  color: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 3rem;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ec407a, #ffe0b2);
  height: auto;
  padding: 4rem;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.rightSection h2 {
  padding: 50px;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  color: #ddd;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 0rem;
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input {
  font-size: 1rem;
}
.input:focus {
  border-image: linear-gradient(to right, #ec407a, #ffe0b2) 1;
  border-image-slice: 1;
}

.error {
  color: #f87171;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.button {
  width: 40%;
  padding: 0.8rem;
  background: #ec407a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(135deg, #ec407a, #ffc093);

  color: #666;
}
.podcastWrapper {
  position: relative;
  width: 100px;
  height: 50;
  margin-bottom: 2.5rem;
}
.podcastImage {
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .label {
    font-size: 1rem;
  }
  .formGroup {
    margin-bottom: 2.5rem;
  }
  .rightSection {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .containerWrapper {
    position: relative;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .container {
    width: 100%;
    height: 80vh;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .leftSection,
  .rightSection {
    height: 100%;
    width: 100%;
    min-height: 150px;
    padding: 2rem;
  }
  .leftSection {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 3rem;
  }
  .rightSection {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: auto;
  }
  .rightSection h2 {
    padding: 30px;
  }
  .form {
    padding-bottom: 10px;
  }
  .formGroup {
    margin-bottom: 2rem;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 1rem;
  }
  .input {
    font-size: 1rem;
  }
  .button {
    margin-top: 1rem;
  }
}

@media (max-width: 425px) {
  .containerWrapper {
    position: relative;
    margin-top: 0rem;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .container {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

  .leftSection,
  .rightSection {
    width: 100%;
    min-height: auto;
    padding: 1.5rem;
    border-radius: 0;
  }
  .leftSection {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .rightSection {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .rightSection h2 {
    padding: 15px;
  }

  .input {
    font-size: 0.9rem;
  }

  .button {
    width: 45%;
    padding: 0.6rem;
    margin-top: 1rem;
  }

  .formGroup {
    margin-bottom: 0.8rem;
  }

  .rightSection .title {
    font-size: 1rem;
  }
  .label {
    margin-bottom: 0rem;
    font-size: 0.9rem;
  }
}
