.mainSection {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between top and bottom */
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
}

.topSection {
  background-color: #e0e0e0;

  padding: 15px;
  border-radius: 6px;
}
.topSection h2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.middleSection {
  background-color: #d0d0d0;
  padding: 15px;
}
.middleSection h2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.bottomSection {
  background-color: #d0d0d0;
  padding: 15px;
  border-radius: 6px;
}
.bottomSection h2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
