.mainSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.topSection {
  background-color: #e0e0e0;

  padding: 15px;
  border-radius: 6px;
}
.topSection h2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.middleSection {
  background-color: #d0d0d0;
  padding: 15px;
}
.middleSection h2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.bottomSection {
  background-color: #d0d0d0;
  padding: 15px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  .mainSection {
    padding: 0px;
  }
  .topSection h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .topSection {
    border-radius: 0px;
  }
  .bottomSection {
    border-radius: 0px;
  }
  .heading {
    padding: 0px;
  }
  .bottomSection h2 {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
}
