.info {
  text-align: left;
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: whitesmoke;
}

.carouselWrapper {
  position: relative;
  width: 100%;
  padding: 0.8rem;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7); /* much darker shadow */
  cursor: pointer;
  z-index: 10;
}

.videoPlaceholder {
  background-color: #110404;
  border-radius: 8px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16 / 9;
}
.videoPlaceholder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
}

.category {
  font-size: 15px;
  font-weight: 500;
  display: block;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}
.slide {
  border-radius: 10px;
}

.title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 1.4em;
}

.meta {
  font-size: 15px;
  color: #666;
}

.left {
  left: -10px;
}

.right {
  right: -10px;
}

.topRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.viewAllLink {
  font-size: 14px;
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
  display: none;
}

.cardLink {
  display: block;
  width: 100%;
  height: 100%;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descriptionWrapper {
  margin-top: 8px;
}
@media (min-width: 1920px) {
  .title {
    font-size: 2rem;
  }
  .category {
    font-size: 1.5rem;
  }
  .meta {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .slide {
    border-radius: 5px;
  }
  .media {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .carouselWrapper {
    padding: 0rem;
  }
  .slide a {
    padding: 0rem;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 16px;
  }
  .carouselWrapper {
    padding: 0;
  }
  .media {
    object-fit: contain;
  }
  .slide {
    border-radius: 5px;
  }
}

@media (max-width: 375px) {
  .carouselWrapper {
    position: relative;
    width: 100%;
    padding: 0px;
  }
  .media {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cardLink {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .media {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cardLink {
    display: block;
    width: 100%;
    height: 100%;
  }
}
